body, html {
  max-width: auto;
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 7%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.index-img-wrap {
  padding-top: 7%;
}

.index-img-text-wrap {

}


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#parallaxImage1.parallax {
  background-image: url("../images/images.jpg");
}

#parallaxImage2.parallax {
  background-image: url("http://kingofwallpapers.com/natur/natur-009.jpg");
}

#parallaxImage3.parallax {
  background-image: url("http://kingofwallpapers.com/natur/natur-001.jpg");
}

.textBox {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.scrollHandle {
  top: -7%;
  position: relative;
}

.slideshow > div > img{
  position: absolute;
  width: 100%;
  height: 70%;
}

.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .addon-box-front, .addon-box-back {
  width: 320px;
  height: 480px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.addon-box-front, .addon-box-back {
  border-radius: 8%;
  backface-visibility: hidden;
  position: absolute;
  background-color: lightblue;
}

.addon-box-container {
  padding: 3% 10% 0 10%;
}

.addon-box-front {
  transform: rotateY(0deg);
}

.addon-box-back {
  transform: rotateY(180deg);
}

#diet-tracking-addon.addon-box-front {
  background-image: url("http://az616578.vo.msecnd.net/files/2016/04/10/635959246334825968902496122_Improving-Your-Health-through-Exercises.jpg");
}

#diet-tracking-addon.addon-box-front > h3 {
  text-align: center;
}

#prevent-disease.addon-box-front {
  background-image: url("http://newyorkhealthfoundation.org/home/wp-content/uploads/2015/09/How-to-Prevent-Heart-Disease-300x255.jpg");
  background-size: 320px 480px;
  background-repeat: no-repeat;
}

#adderal.addon-box-front {
  background-image: url("http://dominionministriesinc.org/wp-content/uploads/2014/12/no-distractions.jpg");
  background-size: 320px 480px;
  background-repeat: no-repeat;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.footer{
  background-color: black;
  height: 150px;
  width: 100%;
  margin-bottom: 0;
}
.fleft{
  float: left;
  background-color: black;
  height: 100%;
  width: 50%;
}
.fright{
  float: right;
  background-color: black;
  height: 100%;
  width: 50%;
}
.fleft h3{
  padding-left: 15px;
  color: #777;
}
.fleft p{
  padding-left: 15px;
  color: #777;
}
.fright h3{
  color: #777;
  padding-right: 10px;
}
.fright p{
  color: #777;
  padding-right: 10px;
}
.fleft a{
  color: #777;
}
.meny{
  float: right;
  padding-left: 5px;
  padding-top: 5px;
}


#addonsTitle {
  overflow: hidden;
  background: -webkit-linear-gradient(red, yellow, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, yellow, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, yellow, green); /* Standard syntax (must be last) */
}
