body, html {
  max-width: auto;
  overflow-x: hidden;
}
.bilden{
    height:auto;
    width: 70px;
}

nav {
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 7%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
    opacity: 0.6;
}
a:link {
    color: white;
    font-size: 16px;
    display: inline-block;
    padding-right: 10px;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}


a:active {
    color: white;
}

.index-img-wrap {
  padding-top: 7%;
  border: 1px solid black;
  background-repeat: no-repeat;
  min-height: 100%;
}

.index-chip-img {
  margin-left: 15%;
}

.index-img-text-wrap {

}

.index-img-text-wrap h1 {

}

.index-img-text-wrap p {
  font-style: italic;
}


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#parallaxImage1.parallax {
  background-image: url("http://www.planwallpaper.com/static/images/desktop-backgrounds1_wvNeWqW.jpg");
}

#parallaxImage2.parallax {
  background-image: url("http://kingofwallpapers.com/natur/natur-009.jpg");
}

#parallaxImage3.parallax {
  background-image: url("http://kingofwallpapers.com/natur/natur-001.jpg");
}

.textBox {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
  border: 1px solid black;
}

.scrollHandle {
  position: relative;
}

.slideshow > div > img{
  position: absolute;
  width: 100%;
  height: 70%;
}

.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .addon-box-front, .addon-box-back {
  width: 320px;
  height: 480px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.addon-box-front, .addon-box-back {
  border-radius: 8%;
  backface-visibility: hidden;
  position: absolute;
  background-color: white;
}

.addon-box-container {
  padding: 3% 10% 0 10%;
}

.addon-box-front, .addon-box-back {
  border: 1px solid black;
}

.addon-box-front {
  transform: rotateY(0deg);
}

.addon-box-front h2 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.addon-box-back {
  transform: rotateY(180deg);
}

.addon-box-back p {
  text-align: left;
  margin: 10%;
  font-size: 20px;
  font-family: serif;
}

#diet-tracking-addon.addon-box-front {
  background-image: url("http://az616578.vo.msecnd.net/files/2016/04/10/635959246334825968902496122_Improving-Your-Health-through-Exercises.jpg");
  background-position: 0 25px;
  background-repeat: no-repeat;
}

#diet-tracking-addon.addon-box-front > h3 {
  text-align: center;
}

#prevent-disease.addon-box-front {
  background-image: url("http://newyorkhealthfoundation.org/home/wp-content/uploads/2015/09/How-to-Prevent-Heart-Disease-300x255.jpg");
  background-size: 320px 480px;
  background-repeat: no-repeat;
}

#adderal.addon-box-front {
  background-image: url("http://dominionministriesinc.org/wp-content/uploads/2014/12/no-distractions.jpg");
  background-size: 320px 480px;
  background-repeat: no-repeat;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.footer{
  background-color: black;
  height: 150px;
  width: 100%;
  margin-bottom: 0;
}
.fleft{
  float: left;
  background-color: black;
  height: 100%;
  width: 50%;
}
.fright{
  float: right;
  background-color: black;
  height: 100%;
  width: 50%;
}
.fleft h3{
  padding-left: 15px;
  color: #777;
}
.fleft p{
  padding-left: 15px;
  color: #777;
}
.fright h3{
  color: #777;
  padding-right: 10px;
}
.fright p{
  color: #777;
  padding-right: 10px;
}
.fleft a{
  color: #777;
}
.meny{
  float: right;
  padding-left: 5px;
  padding-top: 5px;
}


#addonsTitle {
  overflow: hidden;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black , green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black , green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black , green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black , green); /* Standard syntax */
  text-align: center;

}
#addonsTitle {
  color: white;
}
